@import "_reset.scss";

@mixin mobile{
    @media(max-width:576px){
        @content
    }
}

@mixin tablet{
    @media(min-width:576.1px)and(max-width:853px){
        @content
    }
}


.butt{
    border-radius:4px;
   
}
.butt:hover{
    color:darkred; //顏色是深紅色
}
.f-bold{/*粗體字*/
    font-weight:bold;
}
.verti-c{/*垂直置中*/
    vertical-align: middle;//垂直置中
}
.horiz-c{
    text-align:center;
}
.horiz-l{
    text-align:left;
}
.horiz-r{
    text-align:right;
}
$primaryColor:#dbc3a3;


   
   
   #app{
        width:100%;
        height:auto;
        font-family:Arial;
        
        .header{
            margin:0px 0 100px 0;
            padding-top:10px;
            width:100%;
            height:50px;
           /* background-color:rgba(248, 248, 248,0.1);*/
            position:fixed;
            top:0;
            left:0;
            z-index:1000;
           @include mobile{
              //手機板設定
              
           }
           @include tablet{
               //header平板設定
           }
            h2{
                
                img{
                    width:9%;
                    overflow:hidden;

                    @include mobile{
                        width:30%;
                    }
                    @include tablet{
                    
                    }
                }
            }
          
        }
        .header.jqtransparent{ //window scroll時 .header透明化
            height:0px;
            padding:0;
            margin:0;
            transition:ease .2s;
            h2{
                display:none;
            }
        }
        .section{
            height:700px;
            overflow: hidden;
            background: linear-gradient(hsla(34, 100%, 50%, 1),hsla(345, 100%, 75%, 1));
            position:relative;
            background-image:url('https://images.unsplash.com/photo-1508020963102-c6c723be5764?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
            background-size:cover;
            width:100%;
            
        }
        .section span{
            position: absolute;/*left跟top在js中設定*/
            z-index:2;
            pointer-events: none;
            /* border-radius: 50%; */
            background-size: contain;
            background-repeat:no-repeat;
            animation: animate 9s linear forwards;
        }   
        @keyframes animate{
            0%{
                transform:perspective(500px) rotateY(0)  translateX(-250px);
            }
            50%{
                opacity: 1;
            }
            100%{
                transform:perspective(500px)  rotateY(50deg) translateX(1000%);
                opacity: 0;
            }
        }
        .menu{
            margin:0px auto 300px auto;
            width:100%;
            position:relative;
          
            .drinksCatelog{
                padding:5px 0 20px 0;
                margin:100px auto;
                >div{
                    display:inline-block;
                    width:30%;
                    padding:10px 0px;
                    border:.5px solid white ;
                    background: rgba(248, 248, 248,0.8);
                    border-radius:10px;
                    margin:10px 1%;
                    min-height:300px;
                    box-shadow:.5px 1px 3px grey;
                    position:relative;
                    @include mobile{
                        /*手機板時 div請放寬*/
                        width:90%;
                        margin:25px 5%;
                    }
                    @include tablet{
                        width:45%;
                        margin:25px 2%;
                    }
                    >.forImg{//放圖片的區域
                        text-align:center;
                         overflow:hidden;
                        img{
                            max-width:100%;
                            height:160px;
                            margin-top:0px;
                            cursor:pointer;
                        }
                        img:hover{
                            transition:ease 1.5s;
                            transform:scale(1.2);
                        }
                    }
                    h5{
                        margin:5px auto;
                        
                    }
                    .tag{
                        width:100%;
                        padding:0;
                       
                    }
                    .selection{
                     /* background:yellow;*/
                       padding-left:20%;
                 
                        label{
                            margin-top:5px;
                            text-align:left;
                        }
                        select{
                            border:none;
                            border-radius:2px;
                            background:#ece0cf;
                            width:20%;
                            height:30px;
                            margin:5px 5px 0 0;
                        }
                        #addsnack{
                            width:170px;
                        }
                    }
                }
                
                button{
                    margin-top:10px;
                    margin-left:15%;
                    width:50%;
                    height:40px;
                    background:$primaryColor;
                   color:white;
                    border:none;
                  
                    &:hover{
                        background:#ffb01f;
                        font-weight:bold;
                    }
                }
            }
            .drinksMenu{/*table*/
                width:90%;
                height:auto;
                margin:50px auto;
                border:1px solid black;
                background:pink;
                th{
                    width:8%;
                    height:50px;
                    border-bottom:1px solid black;
                }
              
                td{
                    width:8%;
                    height:50px;
                    text-align:center;
                    border-bottom:1px solid black;
                    text-align:left;
                }
                td:nth-child(1){
                    text-align:center;
                }
              
               
            }
        }
    
        // .menu::before{
        //     content:'';/*這個屬性一定要存在*/
        //     position:absolute;
        //     top:-10px;
        //     left:0;
        //     width:100%;
        //     height:200px;
        //     background:linear-gradient(to top, transparent,hsla(345, 100%, 75%, 1));
        //     z-index:1000;
        // }

        
        input[type="checkbox"]{/*中括號可以指定屬性喔*/
            width:50px;
            height:50px;
        }
        .calNum li{
            display:inline-block;
        }
      
        .cartArea{/*加入購物車*/
            width:100%;
            height:auto;
            margin:100px auto;
            position:relative;
           .cartTable{
               width:70%;
               height:60px;
                margin:0 auto;
                background:white;
                height:50px;
                border:1px solid $primaryColor;
                @include tablet{
                    width:90%;
                }
                @include mobile{
                    width:90%;
                }
                th{
                    height:60px;
                }
                td{
                    height:60px;
                    text-align:center;
                    vertical-align:middle;
                    border-bottom:.5px solid $primaryColor;
                  .delBtn{/*刪除按鈕X  input[type="button"],*/
                       background:transparent;
                       border:none;
                       color:red;
                       width:20px;
                       &:hover{
                            font-weight:bold;
                            background:orange;
                        }
                   }
                   .delBtn:hover td{
                      background-color:red;
                   }
                    span{
                        border-radius:50%;
                        display:block;
                        width:20px;
                        height:20px;
                        color:white;
                        background:$primaryColor;
                        margin-left:0px;
                    }
                   
                }
            }
           button{ /*結帳按鈕*/
               width:200px;
               margin-top:100px;
               position:absolute;
               bottom:-100px;
               left:40%;
           }
         
          

        }

        .btModal{
            position:fixed;
            top:20px;
            right:20px;
            z-index:10000;
           
        }
        #exampleModal{
            
        }

        /*在modal中的購物車*/
        .cartTable{
           tr:hover {
                background-color:$primaryColor;
            }
            td{
                padding-top:10px;
            }
        }


    }
    
  
 
