<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>喝飲料</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!---自製CSS--->
    <link rel="stylesheet" href="CSS/all.css">
    <!--在頁籤加入自己的icon--->
    <link rel="icon" href="drinkLogo.png" type="image/x-icon"/>
  
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!--匯入Vue jquery--->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js" defer ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/ScrollTrigger.min.js" defer ></script> <!--gsap套件及scrolTrigger都要嵌入,gsap才會發生效果-->
    
    <!---自製jQuery-->
    <script src="JS/alljq.js"></script>
    <!---Vue及JS動畫-->
    <script src="JS/all.js"></script>
</head>
<style>


</style>

<body>
    <div id="app"> 
       <div class="header" data-head>
            <h2><img src="logo1.png" >
            </h2>
        </div>
        <div class="section">
        </div>
     
        <div class="menu">
           <h2 class="h2 mt-3 horiz-c">Menu</h2>
            <div class="drinksCatelog">
                <!-- <div> -測試--
                    <div><img src="thumb2.png"></div>
                    <div class="tag">中杯$45 <br>大杯$55</div>
                    <h5 class="h5 f-bold horiz-c">混珠奶茶</h5>
                    <div>
                        <label for="size">容量</label>
                        <select name="" id="size">
                            <option value=""></option>
                            <option value="中杯">中杯</option>
                            <option value="大杯">大杯</option>
                        </select>
                        <label for="sugar">糖度</label>
                        <select name="" id="sugar">
                            <option value=""></option>
                            <option value="無糖">無糖</option>
                            <option value="微糖">微糖</option>
                            <option value="半糖">半糖</option>
                            <option value="全糖">全糖</option>
                        </select>
                        <br>
                        <label for="icecube">冰塊</label>
                        <select name="" id="icecube">
                            <option value=""></option>
                            <option value="去冰">去冰</option>
                            <option value="微冰">微冰</option>
                            <option value="少冰">少冰</option>
                            <option value="正常冰">正常冰</option>
                        </select>
                        <label for="addsnack">加料</label>
                        <select name="" id="addsnack">
                            <option value=""></option>
                            <option value="小珍珠">小珍珠</option>
                            <option value="芋圓">芋圓</option>
                            <option value="蒟蒻">蒟蒻</option>
                            <option value="大珍珠">大珍珠</option>
                        </select>
                        <button>加入購物車</button>
                    </div>
                </div> -->
              

                <div v-for="(item,key) in List" :key="item">
                    <div class="forImg"><img :src="item.img"></div>
                    <h5 class="h5 f-bold horiz-c">{{item.name}}</h5>
                    <div class="tag horiz-c">中杯${{item.Mprice}} <br>大杯${{item.Lprice}}</div>
                    <div class="selection horiz-l">
                        <label for="size">容量</label>
                        <select name="" id="size" @change="selection(item)" v-model="item.size">
                            <option value=""></option>
                            <option value="M">中杯</option>
                            <option value="L">大杯</option>
                        </select>
                        
                        <label for="num">數量</label>
                        <select  name="" id="num"  v-model="item.number">
                            <option value=""></option>
                            <option v-for="num in 10" :value="num" :key="value">{{num}}</option>
                        </select>
                        <br>

                        <label for="sugar">甜度</label>
                        <select  name="" id="sugar" v-model="item.sugar">
                            <option value=""></option>
                            <option value="無糖">無糖</option>
                            <option value="微糖">微糖</option>
                            <option value="半糖">半糖</option>
                            <option value="全糖">全糖</option>
                        </select>
                        
                        <label for="icecube">冰塊</label>
                        <select   name="" id="icecube" v-model="item.ice">
                            <option value=""></option>
                            <option value="去冰">去冰</option>
                            <option value="微冰">微冰</option>
                            <option value="少冰">少冰</option>
                            <option value="正常冰">正常冰</option>
                        </select>
                        <br>

                        <label for="addsnack">加料</label>
                        <select name="" id="addsnack" v-model="item.snack">
                            <option value=""></option>
                            <option value="小珍珠">小珍珠</option>
                            <option value="芋圓">芋圓</option>
                            <option value="蒟蒻">蒟蒻</option>
                            <option value="大珍珠">大珍珠</option>
                        </select>
                        <br>

                        <button @click="Addtocart(item)">加入購物車</button>
                    </div>
                </div>
            </div>
            <!-- <table class="drinksMenu">
                <tr>
                    <th class="f-bold verti-c"></th>
                    <th class="f-bold verti-c">品項</th>
                    <th class="f-bold verti-c">M</th>
                    <th class="f-bold verti-c">L</th>
                    <th class="f-bold verti-c">容量</th>
                    <th class="f-bold verti-c">甜度</th>
                    <th class="f-bold verti-c">冰塊</th>
                    <th style="width:200px">數量</th>
                    <th class="f-bold verti-c">價錢</th>
                    <th class="f-bold verti-c">訂購</th>
                </tr>
                <tr v-for="(item,key) in List" :key=item>
                    <td><input type="button"  value="訂購" @click="Addtocart(item)"></td>
                    <td :class="{'bgred':item.check===true}">{{item.name}}</td>
                    <td>{{item.Mprice}}</td>
                    <td>{{item.Lprice}}</td>
                    <td>
                        <select name="" id="" @change="selection(item)" v-model="item.size">
                            <option value=""> </option>
                            <option value="M">中杯</option>
                            <option value="L">大杯</option>
                        </select>
                    </td>
                    <td>
                        <select name="" id="" v-model="item.sugar">
                            <option value=""> </option>
                            <option value="半糖">半糖</option>
                            <option value="全糖">全糖</option>
                        </select>
                    </td>
                    <td>
                        <select name="" id="" v-model="item.ice">
                            <option value=""></option>
                            <option value="去冰">去冰</option>
                            <option value="少冰">少冰</option>
                        </select>
                    </td>
                    <td>{{item.number}}</td>
                    <td>{{item.price}}</td>
                </tr>
               
            </table>  -->
        </div>
        <div class="cartArea">
            <!-- 顯示購物車
            <ul v-for="(item,key) in showsList">
                <li><button @click="removeFromcart(item)">刪除</button></li>
                <li>飲料:{{item.title}}</li>
                <li>價錢:{{item.price}}</li>
                <li>甜度:{{item.sugar}}</li>
                <li>數量{{item.num}}</li>
            </ul> -->
            <!-- <h2 class="h2 horiz-c">已加入購物車</h2> -->
            <!-- <table>
                <tr style="background:#ffe75c;">
                    <th style="width:3%;"></th>
                    <th class="f-bold verti-c horiz-c" style="width:3%;"></th>
                    <th class="f-bold verti-c horiz-c" style="width:19%;">飲料</th>
                    <th class="f-bold verti-c horiz-c" style="width:10%;">價錢</th>
                    <th class="f-bold verti-c horiz-c" style="width:10%;">容量</th>
                    <th class="f-bold verti-c horiz-c" style="width:10%;">甜度</th>
                    <th class="f-bold verti-c horiz-c" style="width:10%;">冰塊</th>
                    <th class="f-bold verti-c horiz-c" style="width:10%;">加料</th>
                    <th class="f-bold verti-c horiz-c" style="width:10%;">數量</th>
                    <th class="f-bold verti-c horiz-c" style="width:10%;">品項金額</th>
                </tr>
                <tr v-for="(item,key) in showsList">
                    <td> <input type="button" class="butt" value="X" @click="removeFromcart(item)"></input>
                    <td><span>{{key +1}}</span></td>
                    <td>{{item.title}}</td>
                    <td>${{item.price}}</td>
                    <td>{{item.size}}</td>
                    <td>{{item.sugar}}</td>
                    <td>{{item.ice}}</td>
                    <td>{{item.snack}}</td>
                    <td>{{item.num}}杯</td>
                    <td data-price>{{item.eachRevenue}}元</td>
                </tr>
            </table> -->
        
         
          


        </div>
        <div class="horiz-c ml-3 mt-3">
            <h2 class="h2">金額總計:{{Toatlexpense}}元</h2>
        </div>
     

  
 <!-- Button trigger modal -->
<button type="button" class="btModal btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" @touchstart="openModal()" @click="openModal()">
    購物車
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg"><!--調整modal大小--->
      <div class="modal-content ">
        <div class="modal-header ">
          <h5 class="modal-title" id="exampleModalLabel">購物車內容</h5>
          <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close" @click="hideModal()">X</button>
        </div>
        <div class="modal-body">
            <!---正文放這邊--->
          <!---測試--->
          <table class="cartTable">
            <tr style="background:#ffe75c;">
                <th style="width:3%;"></th>
                <th class="f-bold verti-c horiz-c" style="width:1%;"></th>
                <th class="f-bold verti-c horiz-c" style="width:10%;">飲料</th>
                <th class="f-bold verti-c horiz-c" style="width:10%;">價錢</th>
                <th class="f-bold verti-c horiz-c" style="width:10%;">容量</th>
                <th class="f-bold verti-c horiz-c" style="width:10%;">甜度</th>
                <th class="f-bold verti-c horiz-c" style="width:10%;">冰塊</th>
                <th class="f-bold verti-c horiz-c" style="width:10%;">加料</th>
                <th class="f-bold verti-c horiz-c" style="width:10%;">數量</th>
                <th class="f-bold verti-c horiz-c" style="width:10%;">小計</th>
            </tr>
            <tr v-for="(item,key) in showsList">
                <td > <input type="button" class="delBtn butt btn-danger" value="X" @click="removeFromcart(item)"></input>
                <td><span>{{key +1}}</span></td>
                <td class="verti-c horiz-c" style="width:10%;">{{item.title}}</td>
                <td class="verti-c horiz-c" style="width:10%;">${{item.price}}</td>
                <td class="verti-c horiz-c" style="width:10%;">{{item.size}}</td>
                <td class="verti-c horiz-c" style="width:10%;">{{item.sugar}}</td>
                <td class="verti-c horiz-c" style="width:10%;">{{item.ice}}</td>
                <td class="verti-c horiz-c" style="width:10%;">{{item.snack}}</td>
                <td class="verti-c horiz-c" style="width:10%;">{{item.num}}杯</td>
                <td data-price  class="verti-c horiz-c" style="width:10%;">{{item.eachRevenue}}元</td>
            </tr>
        </table>


          <!----//end--->     
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @click="hideModal()">Close</button>
          
        </div>
      </div>
    </div>
  </div>
            
       
    </div>



    <script> 
        var app = new Vue({
            el: '#app',
            data: {
                mssg: '123',
                totalAmount:0,
                Toatlexpense:'',
                List: [
                    {
                        name: '紅茶',
                        Mprice: 20,//中杯價錢
                        Lprice: 30,//大杯價錢
                        sugar: '',//甜度
                        snack:'',//加料
                        size: '',//user實際選的容量是中or大杯,要看selection
                        number: 0,//預設數量0杯
                        ice: '',//冰塊
                        check: false,
                        price: '',//user實際選的容量中杯或大杯會決定價格
                        img: 'https://images.unsplash.com/photo-1610137312679-8de3a836b455?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=805&q=80',
                    },
                    {
                        name: '珍珠奶茶',
                        Mprice: 40,
                        Lprice: 50,
                        sugar: '',
                        snack:'',
                        size: '',
                        number: 0,
                        price: '',
                        ice: '',
                        check: false,
                        price: '',
                        img: 'https://foodtracer.taipei.gov.tw/Backend/upload/product/54056661/54056661_22.jpg',
                    },
                    {
                        name: '普洱茶',
                        Mprice: 40,
                        Lprice: 50,
                        sugar: '',
                        snack:'',
                        size: '',
                        number: 0,
                        price: '',
                        ice: '',
                        check: false,
                        price: '',
                        img: 'http://s2.healthlooker.com/imgs/201911/13/5/15736376524196.jpg',
                    },
                    {
                        name: '特級綠茶',
                        Mprice: 40,
                        Lprice: 50,
                        sugar: '',
                        snack:'',
                        size: '',
                        number: 0,
                        price: '',
                        ice: '',
                        check: false,
                        price: '',
                        img: 'https://tse1.mm.bing.net/th?id=OIP.Qi742bNM1mZCSzs2Y87QewHaHa&pid=Api&P=0&w=300&h=300',
                    },
                    {
                        name: '原鄉四季',
                        Mprice: 40,
                        Lprice: 50,
                        sugar: '',
                        snack:'',
                        size: '',
                        number: 0,
                        price: '',
                        ice: '',
                        check: false,
                        price: '',
                        img: 'https://tse1.mm.bing.net/th?id=OIP.M05IK92STyooRnytqbYkKQDfEX&pid=Api&P=0&w=300&h=300',
                    },
                    {
                        name: '四季烏龍',
                        Mprice: 40,
                        Lprice: 50,
                        sugar: '',
                        snack:'',
                        size: '',
                        number: 0,
                        price: '',
                        ice: '',
                        check: false,
                        price: '',
                        img: 'https://images.unsplash.com/photo-1498481548071-4d439c62cd6e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=645&q=80',
                    },
                    {
                        name: '巧克力奶昔',
                        Mprice: 40,
                        Lprice: 50,
                        sugar: '',
                        snack:'',
                        size: '',
                        number: 0,
                        price: '',
                        ice: '',
                        check: false,
                        price: '',
                        img: 'https://images.unsplash.com/photo-1572490122747-3968b75cc699?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80',
                    },
                ],
                cartlist: JSON.parse(localStorage.getItem('drinkslist')) || [],
            },
            created() {
                this.calExp();
            },
            methods: {
                openModal(){
                    $('#exampleModal').modal('show')//打開modal
                },
                hideModal(){
                    $('#exampleModal').modal('hide')//關閉modal
                },

                selection(item) {
                    const checkitemSize = item.size;
                    console.log(checkitemSize);//先檢查
                    switch (checkitemSize) {//善用switch
                        case 'M':
                            item.price = item.Mprice;
                            break;

                        case 'L':
                            item.price = item.Lprice;
                            break;

                        case '':
                            item.price = ''
                            break;

                            defulat:
                            item.price = ''
                            break;

                    }
                    console.log(item)

                },
                Addtocart(item) {
                    //這邊要檢視那些飲料有打勾勾,打勾者加入購物車陣列中
                    //到時候再用mounted呼叫這個mehtods
                    if (item.size ==="" || item.sugar === "" || item.ice === "") { return }
                    const value = item.name;
                    const valueSize = item.size;
                    const valueSugar = item.sugar;
                    const valuePrice = item.price;
                    const valueIce = item.ice;
                    const valueSnack = item.snack;
                    const valueNum = item.number;
                    const eachRevenue = valuePrice*valueNum;
                    const timestamp = Math.floor(Date.now() / 1000);
                    const txt = {
                        id: timestamp,
                        title: value,
                        price: valuePrice,
                        sugar: valueSugar,
                        ice: valueIce,
                        size: valueSize,
                        snack: valueSnack,
                        num:valueNum,
                        eachRevenue:eachRevenue,//杯數*每一杯的價錢
                    }
                    this.cartlist.push(txt);//加入購物車陣列
                    console.log(this.cartlist)
                    localStorage.setItem('drinkslist', JSON.stringify(this.cartlist))//存入網頁中的localstorage,刷新頁面時才會保持在最新狀態
                    item.size = ''; //加入購物車後,原本的下拉式選項要淨空
                    item.sugar = '';
                    item.snack = '';
                    item.price = '';
                    item.ice = '';
                    item.number='';
                    this.calExp()//計算購物車總金額
                   
                },
                removeFromcart(item) {//移除購物車商品
                    const vm = this;
                    const Index = vm.cartlist.indexOf(item);//先找出各項item的索引
                    console.log(Index)//查看索引是哪一筆item
                    console.log(item.title)//查看索引是哪一筆item
                    this.cartlist.splice(Index, 1);
                    this.calExp()
                    localStorage.setItem('drinkslist', JSON.stringify(this.cartlist));//存檔至網頁中的localstorage
                }
            },
            computed: {
                showsList() {
                   console.log(this.cartlist)
                   return this.cartlist;
                },
                calExp(){
                    const vm=this;
                    let a =vm.cartlist.map(el=>{
                        return el.eachRevenue
                    })
                    let sum=0;
                    let b=a.forEach(el=>{
                       return sum+=el; //所有項目金額加總
                    })
                    console.log(sum); //查看sum
                    this.Toatlexpense=sum; //Totalexpense需要轉型為數值嗎?
                    console.log(Toatlexpense); //查看Totalexpense
                },
              
             
              


            }
        })
    </script> 

    
   
</body>

<!--for drop image--->
<script>//動畫設定JS
    let images = [
                'url("beverage.png")',
                'url("timthumb.png")',
                'url("timthumb (1).png")',
                'url("stars.png")',
                'url("ystar.png")',
            ];
            function dropImage(){
                let section = document.querySelector('.section')
                let drop = document.createElement('span');
                //drop.style.left = Math.random() * innerWidth + 'px';
                drop.style.top = Math.random() * innerHeight + 'px';

                let bg = images[Math.floor(Math.random() * images.length)];

                let size = Math.random() * 200;
                drop.style.width  = 50+size+'px';
                drop.style.height = 50+size+'px';
                drop.style.backgroundImage = bg;
                drop.style.backgroundColor='transparent';

                section.appendChild(drop);

                setTimeout(() =>{
                    drop.remove()
                },6000)             

            }
            setInterval(dropImage, 80);
        

</script>


</html>